img{
    width: 400px; 
}

/* Contenedor transparente */
.custom-margin {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con 80% de opacidad */
    padding: 20px;
    border-radius: 10px; /* Ajusta según tus necesidades */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex: 0 0 calc(33.333% - 20px); /* Ajusta el ancho de cada tarjeta */
    margin-bottom: 20px;
    background-color: #ffffff38;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .card img {
    width: cover;
    height: 400px;

    border-radius: 5px 5px 0 0;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .card-text-price {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .btn-adoptar {
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-adoptar:hover {
    background-color: #0056b3;
  }

  body {
    background-image: url('https://p0.pxfuel.com/preview/957/146/327/plants-leaf-nature-green.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
